<div class="sticky header">
  <div class="no-gutters">
    <div class="pr-2 pull-right">
      <a class="btn btn-outline-primary btn-sm" style="padding-top: 7px; margin-top: 13px;" href="tel:720-434-2934">
        <span class="fa fa-phone pl-1 pr-1"></span>303-861-1314
      </a>
    </div>
    <div class="pl-1">
      <img src="../../assets/LiquiscapesLogo.PNG" style="height: 62px;"> 
    </div>
    
  </div>
  <div class="topnav" id="liquiscapesTopNav">
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/about" routerLinkActive="active">About Us</a>
    <a routerLink="/services" routerLinkActive="active">Services</a>
    <a routerLink="/gallery" routerLinkActive="active">Gallery</a>
    <a routerLink="/contact" routerLinkActive="active">Contact</a>
    <a href="javascript:void(0);" class="icon" onclick="navBarReponsive()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>
