<div class="row no-gutters">
  <div class="col pl-1">
      <img src="../../assets/LiquiscapesLogo.PNG" style="height: 65px;"> 
  </div>
  <div class="col pr-2">
      <a class="btn btn-outline-primary btn-sm float-right mt-3" href="tel:720-434-2934">
          <span class="fa fa-phone pl-1 pr-1 pt-1"></span>720-434-2934
      </a>
  </div>
</div>

<!-- <div class="center-block" style="width: 70%" role="banner">
    <div style="float: left;">
      <img src="../../assets/LiquiscapesLogo.PNG" style="height: 75px;"> 
    </div>
    <div style="float: right;">
      <a class="btn btn-light btn-sm" style="margin-bottom: 10px;" href="tel:720-434-2934">
        <span class="glyphicon glyphicon-earphone" style="padding-left: 5px; padding-right: 5px;"></span>720-434-2934
      </a>
    </div>
</div> -->
