.nav-container {
    display: block;
    height: 40px;
    width: 100%;
    background-color: var(--liqui-background);
}

.nav-button {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    height: 40px;
    line-height: 40px;
    background-color: var(--liqui-background);
    text-align: center;
    color: var(--liqui-text);
}

.nav-button:hover {
    background-color: var(--liqui-background-hover);
    cursor: pointer;
    -webkit-transition: background-color 125ms linear;
    -ms-transition: background-color 125ms linear;
    transition: background-color 125ms linear;
    color: var(--liqui-text-hover);
}

.nav-button:focus {
    outline: none;
}

.small-menu {
    display: block;
    float: right;
    width: 50px;
}

.active {
    background-color: var(--liqui-background-hover);
}

@media screen and (max-width: 500px) {
    .standard-menu-state {
        display: none;
    }
}

@media screen and (min-width: 500px) {
    .standard-menu-state {
        display: inline-block;
    }
}

@media screen and (max-width: 500px) {
    .small-menu-state {
        display: inline-block;
    }
}

@media screen and (min-width: 500px) {
    .small-menu-state {
        display: none;
    }
}

.small-menu-popup {
    position: relative;
    left: -65px;
    width: 100px;
}

.small-nav-button {
    padding-left: 15px;
    padding-right: 15px;
    height: 40px;
    line-height: 40px;
    background-color: var(--liqui-background);
    color: var(--liqui-text);
    text-align: center;
}

.small-nav-button:hover {
    background-color: var(--liqui-background-hover);
    color: var(--liqui-text-hover);
    cursor: pointer;
}

.small-nav-button:focus {
    outline: none;
}

/* .small-nav-text {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
} */

.small-menu-hidden {
    display: none;
}