<div class="liquiscapes-container">
  <h4>We develop individual solutions for you</h4>
  <p>Do you have a small private project or large public one? 
    Do you want an idyllic water garden or majestic waterfalls? 
    We can make your plans come to life and your wishes come true!
  </p>
  <p>When developing customized solutions, we combine creativity 
    with realistic planning and due care in the implementation 
    phase. In the process, we are guided by your individual wishes, 
    needs and interests, as well as the existing vegetation, 
    topography, house architecture and the landscape's character. 
    The result is a harmonious concept.
  </p>
  <div class="card mx-auto">
    <div class="card-header">
      <h6 class="card-title">Where We Excel</h6>
    </div>
    <div class="card-body">
      <div class="card-text">
        <div class="row">
          <span class="pl-2 pr-2 fa fa-arrow-right"></span>
          Expert consultations
        </div>
        <div class="row">
          <span class="pl-2 pr-2 fa fa-arrow-right"></span>
          Creative ideas
        </div>
        <div class="row">
          <span class="pl-2 pr-2 fa fa-arrow-right"></span>
          Careful planning and implementation
        </div>
        <div class="row">
          <span class="pl-2 pr-2 fa fa-arrow-right"></span>
          Meticulous organization of the construction process
        </div>
        <div class="row">
          <span class="pl-2 pr-2 fa fa-arrow-right"></span>
          Individual selection of plants
        </div>
        <div class="row">
          <span class="pl-2 pr-2 fa fa-arrow-right"></span>
          High-quality designs
        </div>
        <div class="row">
          <span class="pl-2 pr-2 fa fa-arrow-right"></span>
          Reliable maintenance
        </div>
        <div class="row">
          <span class="pl-2 pr-2 fa fa-arrow-right"></span>
          Numerous prizes and awards
        </div>
      </div>
    </div>
  </div>
  <div class="liquiscapes-container">
    <h5>Do you want an individual consultation?</h5>
    <p>
      Make an appointment for an on-site consultation without any 
      obligation by phone at 303-861-1314, or use our contact form.
    </p>
  </div>
</div>