.brand-container {
    display: inline-block;
}

.brand-image {
    height: 60px;
}

.phone-container {
    display: block;
    float: right;
    margin-top: 12px;
    border-radius: 10px;
    padding-top: 7px;
    padding-right: 12px;
    padding-left: 7px;
    padding-bottom: 7px;
    font-size: 14px;
    color: var(--liqui-text);
    background-color: var(--liqui-background);
}

.phone-container:hover {
    background-color: var(--liqui-background-hover);
    color: var(--liqui-text-hover);
    text-decoration-line: none;
    cursor: pointer;
    -webkit-transition: background-color 125ms linear;
    -ms-transition: background-color 125ms linear;
    transition: background-color 125ms linear;
}

.phone-icon {
    margin-left: 5px;
    margin-right: 5px;
}