<div class="liqui-container">
  <h4>We develop individual solutions for you</h4>
  <p>Do you have a small private project or large public one? 
    Do you want an idyllic water garden or majestic waterfalls? 
    We can make your plans come to life and your wishes come true! 
    When developing customized solutions, we combine creativity 
    with realistic planning and due care in the implementation 
    phase. In the process, we are guided by your individual wishes, 
    needs and interests, as well as the existing vegetation, 
    topography, house architecture and the landscape's character. 
    The result is a harmonious concept.
  </p>
  <div class="card-group">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <div class="card mx-auto">
            <div class="card-header">
                Where We Excel
            </div>
            <div class="card-body">
              <div class="card-text">
                <div class="row">
                  <span class="pl-2 pr-2 fa fa-arrow-right"></span>
                  Numerous awards
                </div>
                <div class="row">
                  <span class="pl-2 pr-2 fa fa-arrow-right"></span>
                  Expert consultations
                </div>
                <div class="row">
                  <span class="pl-2 pr-2 fa fa-arrow-right"></span>
                  Creative ideas
                </div>
                <div class="row">
                  <span class="pl-2 pr-2 fa fa-arrow-right"></span>
                  Studious planning
                </div>
                <div class="row">
                  <span class="pl-2 pr-2 fa fa-arrow-right"></span>
                  Careful implementation
                </div>
                <div class="row">
                  <span class="pl-2 pr-2 fa fa-arrow-right"></span>
                  Meticulous organization
                </div>
                <div class="row">
                  <span class="pl-2 pr-2 fa fa-arrow-right"></span>
                  Individual plant selection
                </div>
                <div class="row">
                  <span class="pl-2 pr-2 fa fa-arrow-right"></span>
                  High-quality designs
                </div>
                <div class="row">
                  <span class="pl-2 pr-2 fa fa-arrow-right"></span>
                  Reliable maintenance
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <div class="card mx-auto">
            <div class="card-header">
              Individual Consultation
            </div>
            <div class="card-body">
              <img class="card-img" src="../../../assets/images/consult.png">
              <div class="card-text">
                <p>
                    Make an appointment for an on-site consultation without any 
                    obligation.
                </p>
                <div class="row pointer" routerLink="/contact">
                  <div class="col-2">
                    <span class="pl-1 pr-3 pt-1 fa fa-align-justify"></span>
                  </div>
                  <div class="col-10">
                    <div class="form-link">Contact Form</div>
                  </div>
                </div>
                <div class="row pointer" (click)="sendEmail();">
                  <div class="col-2">
                    <span class="pl-1 pr-3 pt-1 fa fa-envelope"></span>
                  </div>
                  <div class="col-10">
                    <div class="email-link">Email Liquiscapes</div>
                  </div>
                </div>
                <div class="row pointer" (click)="callPhoneNumber();">
                  <div class="col-2">
                    <span class="pl-1 pr-3 pt-1 fa fa-phone"></span>
                  </div>
                  <div class="col-10">
                    <div class="phone-link">303-861-1314</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
