.main-container {
    display: block;
}

@media screen and (max-width: 900px) {
    .main-container {
        width: 95%;
        margin-right: auto;
        margin-left: auto;
        padding-top: 50px;
    }
}

@media screen and (min-width: 900px) and (max-width: 1500px) {
    .main-container {
        width: 75%;
        margin-right: auto;
        margin-left: auto;
        padding-top: 50px;
    }
}

@media screen and (min-width: 1500px) {
    .main-container {
        width: 50%;
        margin-right: auto;
        margin-left: auto;
        padding-top: 50px;
    }
}

.header {
    background: rgba(255, 255, 255, 1);
    z-index: 1000;
    display: block;
}

@media screen and (max-width: 900px) {
    .header {
        width: inherit;
    }
}

@media screen and (min-width: 900px) {
    .header {
        width: inherit;
    }
}

.sticky-header {
    position: fixed;
    top: 0;
}

.content {
    padding-top: 100px;
    position: relative;
}