.card {
    width: 16rem; 
    height: 24rem;
    margin-bottom: 10px;
    cursor: pointer;
}

.card-img {
    height: 8rem;
}

.card-text {
    margin-left: 20px;
    margin-top: 20px;
    color: var(--liqui-text);
}

.card-footer {
    text-align: center;
    background-color: var(--liqui-background);
    color: var(--liqui-text);
    -webkit-transition: background-color 125ms linear;
    -ms-transition: background-color 125ms linear;
    transition: background-color 125ms linear;
}

.card:hover .card-footer {
    background-color: var(--liqui-background-hover);
    color: var(--liqui-text-hover);
}

.card-title {
    font-weight: bold;
    color: var(--liqui-text);
}

@media screen and (max-width: 550px) {
    .push-down {
        margin-top: 40px;
    }
}
@media screen and (min-width: 550px) {
    .push-down {
        margin-top: 50px;
    }
}

.center {
    text-align: center;
}

.gallery-link-box {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--liqui-background);
    width: 75%;
    height: 35px;
    padding-top: 5px;
    color: var(--liqui-text);
    text-align: center;
    border-radius: 10px;
}

.gallery-link-box:hover {
    background-color: var(--liqui-background-hover);
    color: var(--liqui-text-hover);
    cursor: pointer;
    -webkit-transition: background-color 125ms linear;
    -ms-transition: background-color 125ms linear;
    transition: background-color 125ms linear;
}

@media screen and (max-width: 550px) {
    .gallery-link-box {
        margin-top: 140px;
    }
}
@media screen and (min-width: 550px) {
    .gallery-link-box {
        margin-top: 270px;
    }
}