<div class="liquiscapes-container">
  <h4>Scope of Services: One-Stop Shopping</h4>
  <p>
    At Liquiscapes, you will receive professional support for 
    all phases of your project: From consultation to 
    maintenance, we will gladly take care of your concerns.
  </p>
  <p>
    You can choose between a full planning or an individual 
    consultation, between the sensible integration of existing 
    elements or a completely new design. Our work always meets 
    the highest quality requirements, and also includes fresh 
    ideas.
  </p>
  <!-- <div class="row">
    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-3">
      <div class="card mx-auto">
        <img class="card-img-top" src="../../assets/waterscapes.jpg" alt="Image of Owner">
        <div class="card-body">
          <h6 class="card-title">Waterscapes</h6>
          <div class="card-text">
            <p class="small-font">
              Together with you, we will develop a harmonious 
              water feature for your garden or grounds. 
              Fountains, ponds or streams: We know our craft.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-3">
      <div class="card mx-auto">
        <img class="card-img-top" src="../../assets/in-your-life.jpg" alt="Image of Owner">
        <div class="card-body">
          <h6 class="card-title">Liquiscape Your Life</h6>
          <div class="card-text">
            <p class="small-font">
              Water features utilize approximately 2/3 of the 
              water requires to irrigate a lawn of similar size. 
              Liquiscapes will create an aquatic ecosystem 
              designed to fit your desires. Small or large, 
              your water feature will enhance the tranqulity 
              in your lifestyle. Check out our pictures and then 
              use our convienent contact form for answers to all 
              your questions. We look forward to meeting you!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="liqui-border liqui-padding">
    <h6>Waterscapes</h6>
    <img class="liqui-left liqui-margin img-width" src="../../assets/waterscapes.jpg" alt="Image of Owner">
    <p>
      Together with you, we will develop a harmonious 
      water feature for your garden or grounds. 
      Fountains, ponds or streams: We know our craft.
    </p>
    <a href="javascript:void(0)" (click)="toggleWaterScapesExpanded()">{{waterScapesExpansionText}}</a>
  </div>
  <div class="liqui-border liqui-padding">
    <h6>Liquiscape Your Life</h6>
    <img class="liqui-left liqui-margin img-width" src="../../assets/in-your-life.jpg" alt="Image of Owner">
    <p>
      Water features utilize approximately 2/3 of the 
      water requires to irrigate a lawn of similar size. 
      Liquiscapes will create an aquatic ecosystem 
      designed to fit your desires. Small or large, 
      your water feature will enhance the tranqulity 
      in your lifestyle. Check out our pictures and then 
      use our convienent contact form for answers to all 
      your questions. We look forward to meeting you!
    </p>
    <a href="javascript:void(0)" (click)="toggleLiquiscapeYourLifeExpanded()">{{liquiscapeYourLifeExpansionText}}</a>
  </div>
  <br/>
  <h4>Other Services</h4>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <h6>Maintenance</h6>
      We can help with one time maintenance, such as drain and 
      cleans. We can be there year round for all your 
      maintenance needs, including water treatment, plant care 
      and equipment troubleshooting. Just ask , I bet we can 
      help!
    </li>
    <li class="list-group-item">
      <h6>Service</h6>
      Functionality, design and budget: we take into account 
      these three aspects when planning and implementing your 
      water feature. We also offer a full range of repair and 
      upgrade services.
    </li>
    <li class="list-group-item">
      <h6>Care</h6>
      Liquiscapes is an owner operated company. The owner is 
      on-site at all jobs and our small crew will remain 
      familiar to you from season to season. Liquiscapes is 
      Your aftercare Specialist. We will be available to you 
      for ongoing education and troubleshooting. Liquiscapes 
      is more than the usual "install and run" company.
    </li>
  </ul>
</div>