<div class="nav-container">
  <div class="nav-button" routerLink="/home" routerLinkActive="active" (click)="hideSmallMenu()">
    <span class="nav-text">Home</span>
  </div>
  <div class="nav-button standard-menu-state" routerLink="/about" routerLinkActive="active">
    <span class="nav-text">About</span>
  </div>
  <div class="nav-button standard-menu-state" routerLink="/services" routerLinkActive="active">
    <span class="nav-text">Services</span>
  </div>
  <div class="nav-button standard-menu-state" routerLink="/gallery" routerLinkActive="active">
    <span class="nav-text">Gallery</span>
  </div>
  <div class="nav-button standard-menu-state" routerLink="/contact" routerLinkActive="active">
    <span class="nav-text">Contact</span>
  </div>
  <div class="nav-button small-menu small-menu-state" (click)="toggleSmallMenuVisibility()">
    <i class="fa fa-bars"></i>
    <div class="{{ smallMenuClasses }}">
        <div class="small-nav-button" routerLink="/about" routerLinkActive="active">
          <span class="small-nav-text">About</span>
        </div>
        <div class="small-nav-button" routerLink="/services" routerLinkActive="active">
          <span class="small-nav-text">Services</span>
        </div>
        <div class="small-nav-button" routerLink="/gallery" routerLinkActive="active">
          <span class="small-nav-text">Gallery</span>
        </div>
        <div class="small-nav-button" routerLink="/contact" routerLinkActive="active">
          <span class="small-nav-text">Contact</span>
        </div>
      </div>
  </div>
</div>

