<!-- <div class="topnav" id="liquiscapesTopNav">
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/about" routerLinkActive="active">About Us</a>
  <a routerLink="/services" routerLinkActive="active">Services</a>
  <a routerLink="/gallery" routerLinkActive="active">Gallery</a>
  <a routerLink="/contact" routerLinkActive="active">Contact</a>
  <a href="javascript:void(0);" class="icon" onclick="navBarReponsive()">
    <i class="fa fa-bars"></i>
  </a>
</div> -->

<div class="nav-container">
  <div class="nav-button" routerLink="/home" routerLinkActive="active">
    <span class="nav-text">Home</span>
  </div>
  <div class="nav-button standard-menu-state" routerLink="/about" routerLinkActive="active">
    <span class="nav-text">About</span>
  </div>
  <div class="nav-button standard-menu-state" routerLink="/services" routerLinkActive="active">
    <span class="nav-text">Services</span>
  </div>
  <div class="nav-button standard-menu-state" routerLink="/gallery" routerLinkActive="active">
    <span class="nav-text">Gallery</span>
  </div>
  <div class="nav-button standard-menu-state" routerLink="/contact" routerLinkActive="active">
    <span class="nav-text">Contact</span>
  </div>
  <div class="nav-button small-menu small-menu-state">
    <i class="fa fa-bars"></i>
  </div>
</div>