@import url('https://unpkg.com/bootstrap@4.1.1/dist/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.small-font {
    font-size: 14px;
}

.liquiscapes-container {
    padding-top: 350px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 75%
}