@import url('https://unpkg.com/bootstrap@4.1.1/dist/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.small-font {
    font-size: 14px;
}

:root {
    --liqui-background: #a6cfff;
    --liqui-background-hover: #55a4ff;
    --liqui-text: #000000;
    --liqui-text-hover: #000000;
    --liqui-border: #a6cfff;
    --liqui-border-hover: #55a4ff;
    --liqui-link: #0178ff;
}
