<div class="gallery">
  <app-image-viewer></app-image-viewer>
</div>
<div class="gallery-link-box">
  <div>See Our Complete Gallery</div>
</div>


<div class="push-down">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <div class="card mx-auto">
        <img class="card-img-top" src="../../assets/owner2.png" alt="Image of Owner">
        <div class="card-body">
          <h6 class="card-title">What We Offer</h6>
          <div class="card-text">
            <div class="row small-font">
              <span class="pl-2 pr-2 fa fa-arrow-right"></span>
              Installations
            </div>
            <div class="row small-font">
              <span class="pl-2 pr-2 fa fa-arrow-right"></span>
              Remodels
            </div>
            <div class="row small-font">
              <span class="pl-2 pr-2 fa fa-arrow-right"></span>
              Maintenance
            </div>
            <div class="row small-font">
              <span class="pl-2 pr-2 fa fa-arrow-right"></span>
              Improvements
            </div>
            <div class="row small-font">
              <span class="pl-2 pr-2 fa fa-arrow-right"></span>
              Upgrades
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <div class="card mx-auto">
        <img class="card-img-top" src="../../assets/owner1.jpg" alt="Image of Owner">
        <div class="card-body">
          <h6 class="card-title">Who We Are</h6>
          <div class="card-text">
              <div class="row small-font">
                <span class="pl-2 pr-2 fa fa-arrow-right"></span>
                Small Company
              </div>
              <div class="row small-font">
                <span class="pl-2 pr-2 fa fa-arrow-right"></span>
                30 Years Experience
                <ul>
                  <li>Residential</li>
                  <li>Commercial</li>
                  <li>Public Work</li>
                </ul>
              </div>
              <div class="row small-font">
                <span class="pl-2 pr-2 fa fa-arrow-right"></span>
                Year-Round Training
              </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-3">
      <div class="card mx-auto">
        <img class="card-img-top" src="../../assets/Owner.JPG" alt="Image of Owner">
        <div class="card-body">
          <h6 class="card-title">Why We Are Different</h6>
          <div class="card-text">
            <div class="row small-font">
              <span class="pl-2 pr-2 fa fa-arrow-right"></span>
              Customer Education
            </div>
            <div class="row small-font">
              <span class="pl-2 pr-2 fa fa-arrow-right"></span>
              We're a Small Company
            </div>
            <div class="row small-font">
              <span class="pl-2 pr-2 fa fa-arrow-right"></span>
              Year-Round Trained Labor
            </div>
            <div class="row small-font">
              <span class="pl-2 pr-2 fa fa-arrow-right"></span>
              Owner On-Site Entire Project
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-3">
      <div class="card mx-auto">
        <img class="card-img-top" src="../../assets/owner3.jpg" alt="Image of Owner">
        <div class="card-body">
          <h6 class="card-title">How We Work</h6>
          <div class="card-text">
            <p class="small-font">
              Learn more about projects and be inspired! 
              Take a look through our gallery and ask for 
              references!
            </p>
          </div>
        </div>
      </div>
    </div> -->
  </div>
  
</div>

