.card {
    width: 16rem; 
    height: 24rem;
    margin-bottom: 10px;
}

.card-img {
    height: 8rem;
}

.card-text {
    margin-left: 20px;
    margin-top: 20px;
}

.card-footer {
    text-align: center;
}

h6 {
    font-weight: bold;
}

@media screen and (max-width: 550px) {
    .push-down {
        margin-top: 40px;
    }
}
@media screen and (min-width: 550px) {
    .push-down {
        margin-top: 50px;
    }
}

.column1 {
    float: left;
    width: 25px;
}

.column2 {
    float: left;
    width: 100px;
}

.row-break {
    content: "";
    display: table;
    clear: both;
}

.indent-15 {
    text-indent: 15px;
}

.gallery-link-box {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    padding-top: 5px;
    color: #000000;
    text-align: center;
    border-top: 1px solid #a8a7a5;
    border-right: 1px solid #a8a7a5;
    border-bottom: 1px solid #a8a7a5;
    border-left: 1px solid #a8a7a5;
}

@media screen and (max-width: 550px) {
    .gallery-link-box {
        margin-top: 120px;
    }
}
@media screen and (min-width: 550px) {
    .gallery-link-box {
        margin-top: 250px;
    }
}

a:link:hover {
    text-decoration-line: none;
}