.card {
    width: 14.2rem; 
    height: 21rem;
    margin-bottom: 10px;
}

.card-img-top {
    height: 10rem;
}

h6 {
    font-weight: bold;
}

/* .liqui-container {
    display: block;
    border-bottom-width: 20px;
    border-bottom-color: black;
} */

/* @media screen and (max-width: 550px) {
    .gallery {
        margin-top: 100px;
    }
}
@media screen and (min-width: 550px) {
    .gallery {
        margin-top: 235px;
    }
} */

@media screen and (max-width: 550px) {
    .push-down {
        margin-top: 40px;
    }
}
@media screen and (min-width: 550px) {
    .push-down {
        margin-top: 50px;
    }
}

@media screen and (max-width: 550px) {
    .gallery-link-box {
        margin-top: 100px;
    }
}
@media screen and (min-width: 550px) {
    .gallery-link-box {
        margin-top: 250px;
    }
}

.gallery-link-box {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    padding-top: 5px;
    color: #000000;
    text-align: center;
    border-top: 1px solid #a8a7a5;
    border-right: 1px solid #a8a7a5;
    border-bottom: 1px solid #a8a7a5;
    border-left: 1px solid #a8a7a5;
}