<div class="gallery">
  <app-image-viewer></app-image-viewer>
</div>
<div class="gallery-link-box">
  <div>See Our Complete Gallery</div>
</div>


<div class="push-down">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
      <div class="card mx-auto">
        <div class="card-body">
          <h6 class="card-title">What We Offer</h6>
          <img class="card-img" src="../../assets/owner2.png" alt="Image of Owner">
          <div class="card-text">
            <div class="row small-font">
              <span class="pl-2 pr-2 fa fa-arrow-right"></span>
              Installations
            </div>
            <div class="row small-font">
              <span class="pl-2 pr-2 fa fa-arrow-right"></span>
              Remodels
            </div>
            <div class="row small-font">
              <span class="pl-2 pr-2 fa fa-arrow-right"></span>
              Maintenance
            </div>
            <div class="row small-font">
              <span class="pl-2 pr-2 fa fa-arrow-right"></span>
              Improvements
            </div>
            <div class="row small-font">
              <span class="pl-2 pr-2 fa fa-arrow-right"></span>
              Upgrades
            </div>
          </div>
        </div>
        <div class="card-footer">
          <a routerLink="/services">Services</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
      <div class="card mx-auto">
        <div class="card-body">
          <h6 class="card-title">Who We Are</h6>
          <img class="card-img" src="../../assets/owner1.jpg" alt="Image of Owner">
          <div class="card-text">
              <div class="row small-font">
                <span class="pl-2 pr-2 fa fa-arrow-right"></span>
                Small Company
              </div>
              <div class="row small-font">
                <span class="pl-2 pr-2 fa fa-arrow-right"></span>
                30 Years Experience
                <div class="row ml-3 mt-1">
                  <div class="col-1 center">
                    <i class="fa fa-home"></i>
                  </div>
                  <div class="col">
                    Residential
                  </div>
                </div>
                <div class="row ml-3">
                  <div class="col-1 center">
                    <i class="fa fa-building"></i>
                  </div>
                  <div class="col">
                    Commercial
                  </div>
                </div>
                <div class="row ml-3">
                  <div class="col-1 center">
                    <i class="fa fa-bank"></i>
                  </div>
                  <div class="col">
                    Public Works
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="card-footer">
            <a routerLink="/about">About</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
      <div class="card mx-auto">
        <div class="card-body">
          <h6 class="card-title">Contact Us</h6>
          <img class="card-img" src="../../assets/owner3.jpg" alt="Image of Owner">
          <div class="card-text">
            <p class="small-font">
              We look forward to working with you!
            </p>
          </div>
        </div>
        <div class="card-footer">
          <a routerLink="/contact">Contact</a>
        </div>
      </div>
    </div>
  </div>
  
</div>

